
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'SUIT',sans-serif;
    color:#222;
    background:#f7f7f7;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    width:100%;
    display:block;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* =======================
   NAV
======================= */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:28px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(247,247,247,.85);
    backdrop-filter:blur(10px);
    z-index:999;
}

.logo{
    font-size:18px;
    font-weight:800;
    color:#355c0f;
}

nav ul{
    list-style:none;
    display:flex;
    gap:40px;
}

nav ul li a{
    font-size:15px;
    font-weight:600;
    color:#355c0f;
    transition:.3s;
}

nav ul li a:hover{
    color:#72c10f;
}

/* =======================
   HERO
======================= */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
}

.hero-wrap{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-title{
    font-size:50px;
    font-weight:900;
    color:#72c10f;
    white-space:nowrap;
}

.hero-title span {
  color: #467910;
}

.hero-line{
    height:1px;
    background:#d9d9d9;
    flex:1;
    margin:0 30px;
}

.hero-sub{
    color:#b3b3b3;
    font-size:22px;
    line-height:1.4;
    white-space:nowrap;
}

/* =======================
   PROJECT
======================= */

.project{
    padding-top: 90px;
    padding-bottom:120px;
}

.section-title{
    font-size:62px;
    font-weight:800;
    color:#355c0f;
    margin-bottom:12px;
}

.section-desc{
    color:#888;
    margin-bottom:60px;
}

.project-card{
    display:block;
}

.project-card img{
    border-radius:18px;
    transition:.3s;
}

.project-card:hover img{
    transform:translateY(-4px);
}

.category{
    margin-top:18px;
    color:#666;
    font-size:17px;
}

.project-info{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin-top:10px;
}

.project-info h3{
    font-size:22px;
    font-weight:700;
}

.project-info span{
    color:#999;
    font-size:15px;
}

.mt-custom{
    margin-top:60px;
}

.coming{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    font-weight:700;
}

/* =======================
   ABOUT
======================= */

.about{
    background:#efefef;
    padding:90px 0;
}

.about-title{
    font-size:60px;
    font-weight:800;
    color:#355c0f;
    margin-bottom:10px;
}

.about-sub{
    color:#8f8f8f;
}

.about-text {
  margin-top: 87px;
}

.about-text p span {
  font-weight: 700;
}

.about-text p{
    line-height:1.9;
    margin-bottom:24px;
    font-size:17px;
    word-break: keep-all;
    word-wrap: break-word;
}

/* =======================
   FOOTER
======================= */

footer{
    background:#173d00;
    padding:70px 0;
}

.footer-left h3{
    color:white;
    font-size:34px;
    margin-bottom:10px;
}

.footer-left p{
    color:#e0e0e0;
    line-height:1.8;
}

.footer-logo{
    color:white;
    font-size:54px;
    font-weight:800;
    text-align:right;
}

.footer-contact {
  display: flex;
  gap: 32px;
}

.footer-contact li {
  color: #ddd;
  font-size: 18px;
  font-weight: 400;
}

.copy{
    margin-top:120px;
    font-size:14px;
}

/* =======================
   MOBILE
======================= */

@media(max-width:992px){

    .hero-title{
        font-size:48px;
    }

    .hero-sub{
        font-size:18px;
    }

    .hero-line{
        display:none;
    }

    .hero-wrap{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

    .coming{
        min-height:150px;
        font-size:32px;
    }

    .footer-logo{
        text-align:left;
        margin-top:40px;
        font-size:40px;
    }

}

@media(max-width:768px){

    nav{
        padding:20px;
    }

    nav ul{
        gap:20px;
    }

    .section-title{
        font-size:42px;
    }

    .about-title{
        font-size:42px;
    }
}
