body {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 800px;
  border: 1px solid #999;
  padding: 0 24px;
}


/* Back Button */
.back-btn{
  position:fixed;
  top:32px;
  left:32px;
  z-index:1000;

  display:flex;
  align-items:center;
  gap:6px;

  padding:12px;

  background:rgba(255,255,255,0.8);
  backdrop-filter:blur(10px);

  border:1px solid #e8e8e8;
  border-radius:999px;

  color:#355c0f;
  font-size:15px;
  font-weight:600;

  transition:.3s;
}

.back-btn:hover{
  background:#fafafa;
  color:white;
}

h1{
  margin: 20px 0;
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}

p {
  margin: 0;
  font-size: 16px;
}

a {
  font-size: 16px;
  color: #76bfd1;
}

header, section {
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}

ol {
  margin: 0;
}

ol li {
  font-size: 16px;
}